@charset "UTF-8";
/* CSS Document */

* {
font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

nav {
    clear: both;
}

.footer {
    text-align: center;
    clear: both;
}

body {
    background-image: url(../images/blue-watercolor-background-design_1035-8362.jpg);   
	background-size: cover;
    background-attachment: fixed;
}

.asideLeft {
    width: 42%;
    float: left;
    margin-top: 30px;
    margin-left: 14%;
    margin-right: 1%;
    height: 119%;
}
.sectionRight {
    width: 35%;
    float: right;
    margin-right: 5%;
    margin-top: 73px;
    margin-left: 1%;
    padding-top: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
}
.asideLeft2 {
    width: 28%;
    float: left;
    margin-top: 81px;
    margin-left: 17%;
    margin-right: 1%;
}
.sectionRight2 {
    width: 35%;
    float: right;
    margin-right: 5%;
    margin-top: 69px;
    margin-left: 1%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.button {
    width: 66em;
    margin-top: 9px;
    top: -153em;
}
.button1 {
    background-color: #694FE7;
    font-size: x-large;
    width: 6em;
    margin-top: 5px;
    margin-left: 156px;
    text-align: center;
	border-radius: 15%
}
