@charset "UTF-8";
/* CSS Document */

* {
font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.navbar .navbar-default .navbar-fixed-top {
    z-index: -1;
	position: fixed;
	top: 0px;
	display: block;
}


 .epnav {
    height: auto;
    position:absolute;
    top: 0px;
    z-index: 1;
    margin-top: 37px; 
}


body {
    background-size: cover;
    background-attachment: fixed;
    background-color: #80E9FC;
    background-image: url(../images/blue-watercolor-background-design_1035-8362.jpg);
}

.pagehead {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;	
}
 /*index page*/
.asideLeft {
    width: 42%;
    float: left;
    margin-top: 30px;
    margin-left: 11%;
    margin-right: 1%;
    height: 119%;
}
.sectionRight {
    width: 35%;
    float: right;
    margin-right: 10%;
    margin-top: 73px;
    margin-left: 0%;
    padding-top: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
}
.asideLeft2 {
    width: 28%;
    float: left;
    margin-top: 81px;
    margin-left: 11%;
    margin-right: 1%;
}
.sectionRight2 {
    width: 35%;
    float: right;
    margin-right: 10%;
    margin-top: 69px;
    margin-left: 1%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}




/*index page*/





/*lineup page*/
.asideLeft1 {
    float: left;
    padding-top: 45px;
    margin-top: 0px;
    margin-right: 42px;
    padding-left: 130px;
}
.section1 {
    margin-top: 0px;
    margin-left: 1px;
    float: right;
    margin-right: -52px;
    padding-left: 54px;
    padding-top: 45px;
    padding-right: 170px;
}
.section2 {
    float: right;
    padding-top: 45px;
    padding-left: 0px;
}
.aside2 {
       float: left;
    padding-top: 45px;
    margin-top: 0px;
    margin-right: 42px;
    padding-left: 130px;
}
.section4 {
	    margin-top: 0px;
    margin-left: 1px;
    float: right;
    margin-right: -52px;
    padding-left: 54px;
    padding-top: 45px;
    padding-right: 170px;
}
.section5 {
	   float: right;
    padding-top: 45px;
    padding-left: 0px;
}
.aside3 {
    float: left;
    padding-top: 45px;
    margin-top: 0px;
    margin-right: 42px;
    padding-left: 130px;
    padding-bottom: 25px;
}

.section6 {
		    margin-top: 0px;
    margin-left: 1px;
    float: right;
    margin-right: -52px;
    padding-left: 54px;
    padding-top: 45px;
    padding-right: 170px;
	
}


.section7 {
	  float: right;
    padding-top: 45px;
    padding-left: 0px;
}


/*lineup page*/

/*tickets page*/

.tickets {
    text-align: center;	
}


.indeximg {
	width: 400px;
	height: 300px;
	border-radius: 5%;
}


.column {
	
	width:430px;
	float: left;
	padding: 20px 20px 20px 20px;
	}

.colum:last-child {
	padding: 20px 20px 20px, 20px;
	float: right;
}.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button2 {
	
}

/*tickets page*/

/*map page*/
#map {
    text-align: center;
    padding-right: 0px;
    padding-left: 35px;
    margin-top: 60px;
}
#mapimg {
}
asidemap {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.arena {
    font-family: 'Gloria Hallelujah', cursive;
}


.asidemap {
    width: 46%;
    margin-left: 105px;
    margin-top: 48px;
    background-color: #60DAF4;
    background-position: 0 0%;
    background-size: 0 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
#arenaimg {
    float: right;
    margin-top: -189px;
    margin-left: 0px;
    margin-right: 139px;
}
#ticket {
}

/*map page*/
.opening {
    width: 90%;
    height: 530px;
    text-align: center;
    margin-left: 5%;
}



/*info page*/

.infoimg {
    width: 400px;
    height: 300px;
    border-radius: 5%;
    margin-top: 42px;
    margin-left: 95px;
}
.infoimg2 {
    padding-left: 0px;
    padding-top: 0px;
    float: right;
}

.row .column .indeximg {
}
.infoimg1 {
    margin-top: 93px;
    margin-left: 47px;
}


/*info page*/


/*camp page*/
.camp1 {
    width: 40%;
    margin-top: 26px;
    margin-left: 78px;
    text-align: left;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.camp2 {
    float: right;
    clear: left;
    margin-top: -447px;
    margin-right: 116px;
    background-color: #FFFFFF;
    width: 38%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.camp3 {
    width: 40%;
    float: left;
    margin-left: 140px;
    background-color: #FFFFFF;
    margin-top: 51px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.campimg {
	margin-top: 30px;
    margin-left: 33px;
}

/*info page*/


/*gallery page*/
#galleryimg {
    min-width: 0px;
    width: 90%;
    margin-top: 50px;
    margin-left: 72px;
    padding-top: 40px;
}

/*gallery page*/


/*essentials page*/
.campessent {
    padding-top: 20px;
    margin-left: 368px;
    margin-top: 43px;
    padding-bottom: 45px;
}
/*essentilas page*/
.list {
    margin-top: 0px;
    padding-left: 146px;
    padding-top: 48px;
}
.essentasside {
    width: 55%;
    margin-left: 56px;
    background-color: #60DAF4;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/*essentilas page*/
.essentimg {
    margin-left: 740px;
    margin-top: -219px;
}
#button1 {
    background-color: #BA81E1;
}
.button1 {
    background-color: #B98AE7;
    text-align: right;
    font-size: x-large;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 10px;
    width: 146px;
    height: 55px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 274px;
}
#button2 {
    text-align: center;
}




input[type="checkbox"] {
	float: left;
	margin-left: 2px;
}
.checkh {
    float: left;
    margin-left: 25px;
    margin-right: 0px;
    padding-left: 190px;
    width: 55px;
    text-align: right;
    height: 25px;
}

input[type="text"] {
    display: inline-block;
    float: right;
    margin-top: -15px;
    top: 0em;	
}

label, input {
    display: inline-block;
    margin-bottom: 0.5em;
    width: 14em;
    float: left;
    text-align: left;
    margin-top: -22px;
    margin-left: 270px;
    margin-right: -82px;
    font-weight: normal;

}
#info {
    display: block;
    margin-top: -2px;
    margin-left: 220px;
}
br {
	clear: left;
}


#comments input {
    text-align: center;
    width: 15em;
    padding-top: 0px;
    margin-top: 7px;
    margin-left: 173px;
    margin-right: -173px;
}
label {
	margin: 3px 0 0 0;
}
#ticket {
    margin-left: 150px;
    width: 72%;
    margin-top: 70px;
}

#comments {
    margin-left: 150px;
    width: 72%;
    padding-top: 0px;
}
#information {
    margin-left: 150px;
    width: 70%;
}
#lineupimg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    width: 37%;
    clear: both;
    margin-left: 7%;
    margin-top: 49%;
}
.video {
    clear: both;
    margin-top: -441px;
    padding-left: 530px;
    margin-left: 75px;
}


.footer {
    text-align: center;
    margin-top: 0px;
    clear: both;
    height: 10%;
}

.footerimg {
    margin-left: 65%;
    text-align: left;
    width: 50%;
    clear: both;
}

#foot {
    margin-left: 0px;
    clear: both;
    height: 8%;
}#footerimg2 {
    margin-top: -60px;
    margin-left: auto;
    width: 150px;
}
#copyright {
    margin-left: -375px;
    margin-top: -46px;
}
#mapimg {
}
.artists {
}

@media (max-width: 550px){
.pagehead {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
	margin-top: 30%;
}
.epnav {
    height: auto;
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-top: 37px;
	width:80%;
	margin-bottom: 10%;
	margin-left: 10%;
	padding-bottom: 15%;
}
/*index page*/
.asideLeft {
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
   
}
.sectionRight {
    width: 50%;
    float: none;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
}
.sectionRight2 {
    width: 50%;
    float: none;
    margin-right: 5%;
    margin-left: 5%;
}
.button1 {
    background-color: #B98AE7;
    text-align: right;
    font-size: x-large;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 10px;
    width: 70%;
    height: 55px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 10px;
}
.footer {
	width:90%;
}
.footerimg {
    margin-left: 5%;
    text-align: left;
    width: 100%;
    clear: both;
}
#lineupimg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    width: 50%;
    clear: both;
    margin-left: 5%;
	margin-right: 5%;
}
.video {
    clear: both;
    margin-top: -476px;
    padding-left: 5%;
    margin-left: 5%;
	width: 80%;
}
/*gallery page*/


/*essentials page*/
.campessent {
    padding-top: 20px;
    margin-left: 5%;
	margin-right: 5%;
    margin-top: 43px;
    padding-bottom: 45px;
	float: none;
	width:60%;
}
/*essentilas page*/
.list {
    margin-top: 0px;
    padding-left: 146px;
    padding-top: 48px;
}
.essentasside {
    width: 90%;
    background-color: #60DAF4;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 220px;
    padding-left: 15px;
	margin-left: 5%;
	margin-right: 5%;
	
}
/*essentilas page*/
.essentimg {
    margin-left: 5%;
    margin-right: 5%;
	width: 70%;
	float:none;
	padding-top: 5%;
}
/*info page*/


/*camp page*/
.camp1 {
    width: 90%;
    margin-top: 6px;
    margin-left: 5%;
	margin-right: 5%;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
.camp2 {
    float: none;
    clear: left;
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
	width: 90%;
    margin-top: 6px;
    margin-left: 5%;
	margin-right: 5%;
}
.camp3 {
    float: none;
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
	width: 90%;
    margin-top: 6px;
    margin-left: 5%;
	margin-right: 5%;
}
.campimg {
    margin-left: 5%;
	margin-right: 5%;
	width: 80%;
}
/*tickets page*/

/*map page*/
#map {
    text-align: center;
    padding-right: 0px;
    padding-left: 35px;
    margin-top: 60px;
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
	
}
#mapimg {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

.asidemap {
   
   
    margin-top: 48px;
    background-color: #60DAF4;
    background-position: 0 0%;
    background-size: 0 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	margin-bottom: 200px;
}
#arenaimg {
    float: none;
    margin-top: -189px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
#ticket {
   
    margin-top: 70px;
	margin-left: 5%;
	margin-right: 5%;
    width: 80%;
}
#information {
    margin-left: 5%;
	margin-right: 5%;
    width: 80%;
}
#comments {
    
    padding-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
    width: 80%;
}
label {
	margin-left: 5%;
	margin-right: 5%;
    width: 80%;
}
/*info page*/


/*gallery page*/
#galleryimg {
    min-width: 0px;
    width: 90%;
    margin-top: 50px;
    padding-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

}
